@tailwind base;
@tailwind components;
@tailwind utilities;

.main-text-colors {
  @apply text-slate-700 dark:text-slate-200;
}

.hover-main-text-colors {
  @apply hover:text-slate-800 hover:dark:text-slate-100;
}

.active-main-text-colors {
  @apply text-blue-600 dark:text-blue-300;
}

.border-innactive-colors {
  @apply border-gray-200 dark:border-gray-700;
}

.border-active-colors {
  @apply border-blue-600 dark:border-blue-300;
}

.shadow-active-colors {
  @apply shadow-blue-600 dark:shadow-blue-300;
}

.shadow-innactive-colors {
  @apply shadow-gray-200 dark:shadow-gray-700;
}

.bg-main-colors {
  @apply bg-gray-50 dark:bg-gray-800;
}

.bg-secondary-colors {
  @apply bg-[rgb(237,238,241)] dark:bg-gray-700;
}

.bg-tertiary-colors {
  @apply bg-white dark:bg-gray-600;
}

.bg-active-colors {
  @apply bg-blue-50 dark:bg-slate-700;
}

/* Adds a border like shadow box around elements */
.focus-ring {
  @apply focus:ring-2 focus:ring-blue-600 dark:focus:ring-blue-300;
}

.cm-tooltip-autocomplete {
  color: pink !important;
  background-color: azure !important;
  overflow: scroll !important;
  text-overflow: unset !important;
}
